html {
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;
}

#root {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;
}

header {
	margin: 0px;
	padding: 0px;
	
	width: auto;
	height: 40px;
	
	background-color: #4b4b4b;
}

header h1 {
	margin: 3.5px 0px 0px 20px;
	padding: 0px;

	font-size: 26px;
	color: #fff;

	float: left;
}

header nav {
	margin: 0px;
	padding: 0px 20px 0px 0px;

	width: auto;
	height: 40px;

	float: right;
}

header nav ul {
	margin: 0px;
	padding: 0px;
}

header nav ul li {
	margin: 0px 0px 0px 10px;
	padding: 0px;

	width: auto;
	height: auto;

	list-style: none;

	float: left;

	display: block;
}

header nav ul li:hover > ul {
	display: block;
	position: absolute;
    right:0;
}

header nav ul li:hover {
	background-color: #fff;
}

header nav ul li a {
	margin: 0px;
	padding: 0px;

	width: 26px;
	height: 40px;

	display: block;

	outline: none;
}

header nav li a:hover {
	background-color: #fff;
}

header nav ul ul {
	background: #fff;

	margin: 0px 20px 0px 0px;
	padding: 10px 0px;

	width: 100px;
	height: auto;

	box-shadow: 0px 3px 5px 3px #dadada;

	text-align: center;

	display: none;
}

header nav ul ul li {
	width: auto;
	height: auto;

	margin: 0px;
	padding: 5px 0px;

	float: none;
}

header nav ul ul li a {
	margin: 0px;
	padding: 0px;

	width: auto;
	height: auto;

	display: block;

	outline: none;

	color: #000;
	text-decoration: none;
}

#add {
	background-image: url("images/add.svg");
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: 5px 12px;
}

#options {
	background-image: url("images/options.svg");
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: 5px 12px;
}

#messagebox {
	margin: 0px;
	padding: 0px;

	height: 20px;
	width: auto;

	border-style: solid;
	border-width: 2px;

	text-align: center;

	color: #fff;
}

.info {
	background-color: #f1c411;
	border-color: #907711;
}

.success {
	background-color: #14a326;
	border-color: #0f751c;
}

.error {
	background-color: #f00;
	border-color: #710707;
}
