html {
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;
}

#root {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;
}

header {
	margin: 0px;
	padding: 0px;
	
	width: auto;
	height: 40px;
	
	background-color: #4b4b4b;
}

header h1 {
	margin: 3.5px 0px 0px 20px;
	padding: 0px;

	font-size: 26px;
	color: #fff;

	float: left;
}

header nav {
	margin: 0px;
	padding: 0px 20px 0px 0px;

	width: auto;
	height: 40px;

	float: right;
}

header nav ul {
	margin: 0px;
	padding: 0px;
}

header nav ul li {
	margin: 0px 0px 0px 10px;
	padding: 0px;

	width: auto;
	height: auto;

	list-style: none;

	float: left;

	display: block;
}

header nav ul li:hover > div {
	display: block;
	position: absolute;
    right:0;
}

header nav ul li:hover {
	background-color: #fff;
}

header nav ul li a {
	margin: 0px;
	padding: 0px;

	width: 26px;
	height: 40px;

	display: block;

	outline: none;
}

header nav li a:hover {
	background-color: #fff;
}

#main {
	margin: 0px;
	padding: 0px;

	width: 100%;
	height: auto;
}

#sidebar {
	margin: 0px;
	padding: 50px 20px;

	width: 210px;
	height: auto;
	
	float: left;
}

#sidebar #add-button {
	background-color: #0094ff;

	margin: 0px;
	padding: 10px;

	height: auto;
	width: auto;

	border-radius: 2px;

	text-align: center;
	text-decoration: none;

	color: #fff;
}

#sidebar hr {
	margin: 30px 0px;
	padding: 0px;

	width: 100%;
	height: 1px;

	border-style: none;
	background-color: #a7a7a7;
}

#sidebar ul {
	margin: 0px;
	padding: 0px;

	height: auto;
	width: auto;

}

#sidebar ul ul {
	margin: 0px 20px;

}

#sidebar li {
	margin: 0px;
	padding: 0px;

	height: 100%;
	width: auto;

	list-style: none;
}

#content-root {
	margin: 0px 0px 0 270px;
	padding: 50px 50px 0px 0px;

	width: auto;
	height: 100%;
}

#content-menu {
	margin: 0px;
	padding: 0px;

	/*Just to show the area for the placeholder*/
	background-color: #a7a7a7; /*PLACEHOLDER*/
	text-align: center; /*PLACEHOLDER*/

	width: auto;
	height: 75px;
}

#content {
	margin: 0px;
	padding: 20px 0px 0px;

	width: 100%;
	height: 100%;
}

.item {
	margin: 0px 0px 20px 0px;
	padding: 20px;

	width: auto;
	height: auto;

	border-style: solid;
	border-width: 1px;
	border-color: #d1d1d1;
}

.item h2 {
	margin: 0px;
	padding: 0px;
	color: #646464;
}

.item .date {
	float: right;
}

.item .from {
	color: #808080;
}

.options-menu {
	background: #fff;

	margin: 0px 10px 0px 0px;
	padding: 10px 20px 20px;

	width: auto;
	height: auto;

	box-shadow: 0px 3px 5px 3px #dadada;
	border-radius: 5px;

	text-align: left;

	display: none;
}

.options-menu hr {
	margin: 3px 0px 6px;
	padding: 0px;

	width: 100%;
	height: 1px;

	border-style: none;
	background-color: #a7a7a7;

	clear: both;
	float: none;
}

.options-menu ul {
	width: auto;
	height: auto;

	margin: 0px;
	padding: 0px;
}

.options-menu li {
	width: auto;
	height: auto;

	margin: 0px;
	padding: 5px 0px;
}

.options-menu p {
	margin: 5px 0px;
	padding: 0px;

	width: auto;
	height: auto;

	font-size: 14px;
	color: #808080;
}

.options-menu p b {
	font-size: 16px;
}

.options-menu a {
	margin: 0px 20px 0px 0px;
	padding: 0px;

	width: auto;
	height: auto;

	outline: none;

	color: #808080;
	text-align: right;
	text-decoration: none;
}

.options-menu li a {
	color: #0094ff;
	text-align: right;
}

#options {
	background-image: url("images/options.svg");
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 3px 10px;
	fill: #9c9c9c;
}

#messagebox {
	margin: 0px;
	padding: 0px;

	height: 20px;
	width: auto;

	border-style: solid;
	border-width: 2px;

	text-align: center;

	color: #fff;
}

.info {
	background-color: #f1c411;
	border-color: #907711;
}

.success {
	background-color: #14a326;
	border-color: #0f751c;
}

.error {
	background-color: #f00;
	border-color: #710707;
}

.hide {
	display: none
}
